<p id="notice"><%= notice %></p>

<p>
  <strong>Famil:</strong>
  <%= @grupo.famil %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @grupo.dir %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @grupo.tel %>
</p>

<p>
  <strong>Tipcasa:</strong>
  <%= @grupo.tipcasa %>
</p>

<p>
  <strong>Estrato:</strong>
  <%= @grupo.estrato %>
</p>

<p>
  <strong>Serv:</strong>
  <%= @grupo.serv %>
</p>

<p>
  <strong>Tipserv:</strong>
  <%= @grupo.tipserv %>
</p>

<p>
  <strong>Habit:</strong>
  <%= @grupo.habit %>
</p>

<p>
  <strong>Picasa:</strong>
  <%= @grupo.picasa %>
</p>

<p>
  <strong>Murcasa:</strong>
  <%= @grupo.murcasa %>
</p>

<p>
  <strong>Basura:</strong>
  <%= @grupo.basura %>
</p>

<p>
  <strong>Eqcoc:</strong>
  <%= @grupo.eqcoc %>
</p>

<p>
  <strong>Eqsal:</strong>
  <%= @grupo.eqsal %>
</p>

<p>
  <strong>Eqhabi:</strong>
  <%= @grupo.eqhabi %>
</p>

<p>
  <strong>Eqcom:</strong>
  <%= @grupo.eqcom %>
</p>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
