<p id="notice"><%= notice %></p>

<p>
  <strong>Fuenteingre:</strong>
  <%= @otra.fuenteingre %>
</p>

<p>
  <strong>Cualfuen:</strong>
  <%= @otra.cualfuen %>
</p>

<p>
  <strong>Cuentab:</strong>
  <%= @otra.cuentab %>
</p>

<p>
  <strong>Numcuent:</strong>
  <%= @otra.numcuent %>
</p>

<p>
  <strong>Tarjetdc:</strong>
  <%= @otra.tarjetdc %>
</p>

<p>
  <strong>Cuantarj:</strong>
  <%= @otra.cuantarj %>
</p>

<p>
  <strong>Prestam:</strong>
  <%= @otra.prestam %>
</p>

<p>
  <strong>Tipoprestamo:</strong>
  <%= @otra.tipoprestamo %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @otra.grupo_id %>
</p>

<%= link_to 'Edit', edit_otra_path(@otra) %> |
<%= link_to 'Back', otras_path %>
