
<%= form_tag({:controller => "sesiones", :action => "entrar"}, :method => "post") do %>
<div class="form-4">
	<h2> Iniciar sesi칩n </h2>
   <%= label_tag "nombre_usuario", "Nombre de usuario" %>
   <br />
   <%= text_field_tag "nombre_usuario", "", :required => "required",placeholder: 'Nombre de usuario', class: 'pull-left input-small' %>
   <br />
   <%= label_tag "contrasena", "Contrase침a" %>
   <br />
   <%= password_field_tag "contrasena", "", :required => "required",placeholder: 'Contrase침a', class: 'pull-left input-small' %>
   <br />
   <%= submit_tag "Ingresar" %>
<% end %>
<% if @error_login %>
 <div style="color: #f00;"> El nombre de usuario o la contrase침a son incorrectos. </div>
 </div>
 <%= @pass %>
<% end %>
