<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @persona.edad %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @persona.sexo %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @persona.cedula %>
</p>

<p>
  <strong>Lugfam:</strong>
  <%= @persona.lugfam %>
</p>

<p>
  <strong>Nivestu:</strong>
  <%= @persona.nivestu %>
</p>

<p>
  <strong>Titul:</strong>
  <%= @persona.titul %>
</p>

<p>
  <strong>Servsalud:</strong>
  <%= @persona.servsalud %>
</p>

<p>
  <strong>Cajcomp:</strong>
  <%= @persona.cajcomp %>
</p>

<p>
  <strong>Pension:</strong>
  <%= @persona.pension %>
</p>

<p>
  <strong>Etnia:</strong>
  <%= @persona.etnia %>
</p>

<p>
  <strong>Actiecom:</strong>
  <%= @persona.actiecom %>
</p>

<p>
  <strong>Gruporel:</strong>
  <%= @persona.gruporel %>
</p>

<p>
  <strong>Cualgrup:</strong>
  <%= @persona.cualgrup %>
</p>

<p>
  <strong>Sectortrab:</strong>
  <%= @persona.sectortrab %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @persona.grupo_id %>
</p>

<p>
  <strong>Otra:</strong>
  <%= @persona.otra_id %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
