<!DOCTYPE html>
<html>
<head>
  <title>Reg</title>

   <%= stylesheet_link_tag    'bootstrap' %>
   <style type="text/css">
      body {
        background: #dcdd9f;
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      </style>
      
  <%= stylesheet_link_tag 'bootstrap-responsive' %>
  <%= stylesheet_link_tag 'aplication', :media => 'all' %>
</head>
<body>
  
    
	<div id="nav">
        

      <%= link_to "Logout", :controller => "sesiones", :action => "salir" %>
      <%= link_to "Tabla_Zonas", :controller => "locates", :action => "index" %>
      <%= link_to "Tabla_Grupo_Familiar", :controller => "grupos", :action => "index" %>
      <%= link_to "Tabla_Otros_Datos", :controller => "otras", :action => "index" %>
      <%= link_to "Tabla_Integrantes", :controller => "personas", :action => "index" %>
      <%= link_to "Nuevo_Grupo_Familiar", :controller => "grupos", :action => "new" %>
      <%= link_to "Zona_Nueva", :controller => "locates", :action => "new" %>
      <%= link_to "Consultas", :controller => "buscar", :action => "form" %>
      
    
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  
<%= yield %>

</body>
</html>
